body{
    background-color: #f0f2f5;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
.main{
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-div{
    padding-top: -50px;
   padding-right: 32px;
    width: 580px;
}
.logo{
    width: auto;
    height: 106px;
    margin-left: -30px;
}
.title{
    font-size: 28px;
    margin-top: -10px;
}
.right-div{
    height: 456px;
    width: 396px;
}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(219, 219, 219);
    border-radius: 7px;
    padding: 20px 27px;
}
.input{
    width: 100%;
    height: 50px;
    padding-left: 15px;
    background-color: #e8f0fe;
    border: none;
    margin-bottom: 15px;
    border-radius: 7px;
    font-size: 17px;
    border: 1px solid #e8f0fe;
}
.input:focus{
    outline: none;
    border: 2px solid #1877f2;
}

.input-btn{
    width: 105%;
    background-color: #1877f2;
    border: none;
    padding: 15px 30px;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}
.forgot-btn{
    text-decoration: none;
    margin-bottom: 15px;
}
.forgot-btn:hover{
    font-style: oblique;
}
hr{
    width: 100%;
    border-color: #ffffff;
    margin-bottom: 15px;
}
.create-btn{
    background-color: #42b72a;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    
    padding: 15px 30px;
    border-radius: 7px;
    text-align: center;
}
.bottom-p{
    text-align: center;
}
.bottom-p a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}